<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Julia Dates</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="">
                                    <img src="<%= require('./assets/images/logo.png') %>" alt="">
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="#">Поиск</a>
                                    </li>
                                    <li>
                                        <a href="#">Мои переписки</a>
                                    </li>
                                    <li>
                                        <a href="#">Избранное</a>
                                    </li>
                                    <li>
                                        <a href="#">Кто смотрел</a>
                                    </li>
                                </ul>
                                <div class="navbar-right login-block">
                                    <span class="login-block__info">Премиум
                                        <span class="sprite sprite-info-icon" data-toggle="tooltip" title="Всплывающая подсказка"></span>
                                    </span>
                                    <span class="login-block__credits">100 кредитов</span>
                                    <a href="#" class="navbar-link login-block__user">
                                        <img src="<%= require('./assets/images/user.png') %>" alt="">
                                        <span class="dropdown-toggle sprite sprite-arrow-down-s-icon"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="top_girls_container">
            <div class="container">
                <ul class="top_girls_content">
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/1.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/2.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/3.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/4.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/5.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/6.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/7.png') %>" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="<%= require('./assets/images/8.png') %>" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-results">
            <div class="container search-results__form-wrap">
                <h2 class="text-center">Я ищу</h2>
                <div class="search-results__form">
                    <form action="post" class="search-filter row">
                        <div class="search-filter__gender search-filter__item col-xs-12 col-md-2">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="search-filter__gender" data-toggle="dropdown">
                                    Девушку
                                    <span class="caret sprite sprite-arrow-down-b-icon"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="search-filter__gender">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Девушку</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Парня</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="search-filter__location search-filter__item col-xs-12 col-md-offset-1 col-md-3">
                            <div class="custom-input">
                                <input type="text" class="form-control" placeholder="Город">
                                <span class="custom-input__clear"></span>
                            </div>
                        </div>

                        <div class="search-filter__age search-filter__item col-xs-12 col-md-offset-1 col-md-2">
                            <div class="age-slider"></div>
                        </div>

                        <div class="search-filter__submit search-filter__item col-xs-12 col-md-3">
                            <button type="submit" class="btn btn-primary">Найти</button>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#">Действие</a>
                                        </li>
                                        <li>
                                            <a href="#">Другое действие</a>
                                        </li>
                                        <li>
                                            <a href="#">Что-то иное</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Отдельная ссылка</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Отправить</button>
                            </form>
                        </div>
                        <div class="col-md-6">

                        </div> -->
                    </form>
                </div>
            </div>
            <div class="search-results__extended">

            </div>
        </div>
        <div class="all-filter-results">
            <div class="container">
                <div class="btn-group all-filter-results__tabs">
                    <button type="button" class="btn btn-default">Онлайн</button>
                    <button type="button" class="btn btn-default active">Новые</button>
                    <button type="button" class="btn btn-default">Популярные</button>
                </div>
                <div class="all-filter-results__content">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">12</span>
                                        </span>
                                        <span class="top active">Топ</span>
                                        <img src="<%= require('./assets/images/girl.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online active"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">3</span>
                                        </span>
                                        <span class="top active">Топ</span>
                                        <img src="<%= require('./assets/images/girl2.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online active"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">145</span>
                                        </span>
                                        <span class="top active">Топ</span>
                                        <img src="<%= require('./assets/images/girl3.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online active"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">17</span>
                                        </span>
                                        <span class="top">Топ</span>
                                        <img src="<%= require('./assets/images/girl4.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">12</span>
                                        </span>
                                        <span class="top">Топ</span>
                                        <img src="<%= require('./assets/images/girl5.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online active"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">3</span>
                                        </span>
                                        <span class="top">Топ</span>
                                        <img src="<%= require('./assets/images/girl6.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-pull"></span> В избранных</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">4</span>
                                        </span>
                                        <span class="top">Топ</span>
                                        <img src="<%= require('./assets/images/girl7.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="thumbnail_top">
                                    <a href="">
                                        <span class="photos">
                                            <span class="sprite sprite-photo-icon"></span>
                                            <span class="count">28</span>
                                        </span>
                                        <span class="top">Топ</span>
                                        <img src="<%= require('./assets/images/girl8.png') %>" alt="...">
                                    </a>
                                    <p>
                                        <a href="#" class="">
                                            <span class="sprite sprite-star-empty"></span> Избранное</a>
                                        <a href="#" class="mail_link">
                                            <span class="sprite sprite-mail-icon"></span>Написать</a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h3>Кристиночка, 28
                                        <span class="online"></span>
                                    </h3>
                                    <p>Санкт-Петербург, Россия</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#">
                                <span class="sprite sprite-arrow-left-icon"></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sprite sprite-arrow-right-icon"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="">Правила</a>
                        </li>
                        <li>
                            <a href="">Пользовательское соглашение</a>
                        </li>
                        <li>
                            <a href="">О проекте</a>
                        </li>
                        <li>
                            <a href="">Обратная связь</a>
                        </li>
                    </ul>
                    <p>©«KIKI». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2017
                        <br> Администрация не несёт ответственности за размещённые анкеты. Вся информация на сайте предоставлена
                        посетителями.
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>