/* sprite */

.sprite {
  background-image: url("./assets/images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow-down-b-icon {
  width: 13px;
  height: 8px;
  display: inline-block;
  background-position: -5px -5px;
}

.sprite-arrow-down-s-icon {
  width: 10px;
  height: 6px;
  display: inline-block;
  background-position: -28px -5px;
}

.sprite-arrow-left-icon {
  width: 8px;
  height: 13px;
  display: inline-block;
  background-position: -48px -5px;
}

.sprite-arrow-right-icon {
  width: 8px;
  height: 13px;
  display: inline-block;
  background-position: -5px -28px;
}

.sprite-info-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-position: -23px -28px;
}

.sprite-mail-icon {
  width: 20px;
  height: 15px;
  display: inline-block;
  background-position: -47px -28px;
}

.sprite-photo-icon {
  width: 21px;
  height: 17px;
  display: inline-block;
  background-position: -5px -53px;
}

.sprite-star-empty {
  width: 19px;
  height: 18px;
  display: inline-block;
  background-position: -36px -53px;
}

.sprite-star-pull {
  width: 19px;
  height: 18px;
  display: inline-block;
  background-position: -77px -5px;
}

.sprite-x-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-position: -77px -33px;
}
